aside {
  width: 15vw;
  background-image: url("");
  background-color: white;
}
aside div {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0px;
}
h2 {
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 4vh;
}
#gallerySort > div > button {
  border: none;
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 70%;
  border-radius: 20px;
  font-size: 2vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
}
#gallerySort > div > button:hover {
  font-style: italic;
  box-shadow: 0px 1px 5px black;
}
#gallerySort form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  font-size: 2vh;
  width: 90%;
}
#gallerySort form input {
  width: 25%;
  height: fit-content;
  padding: 1px;
}
#gallerySort form button {
  width: fit-content;
  margin-top: 5%;
  padding: 2px 8px 2px 8px;
  height: fit-content;
  background-color: white;
  border: 1px solid black;
  border-radius: 16px;
}
#gallerySort form button:hover {
  box-shadow: 0px 1px 3px black;
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  background-color: lightgray;
  min-height: 100vh;
}
#gallery div {
  background-color: rgb(152, 152, 152);
  box-shadow: 5px 5px 5px black;
  margin: 3%;
  padding: 1%;
}
#gallery div img {
  max-height: 100px;
  max-width: 100px;
}
#bucketList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#bucketList li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 3px;
  padding: 5%;
  height: 7vw;
  align-items: center;
}
#bucketList img {
  height: 100%;
}
.hide {
  display: none;
}