*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
header {
  min-height: 20vh;
  max-height: 15vh;
  background-color: grey;
}
header img {
  max-height: 10vh;
  max-width: 10vw;
}
main {
  display: flex;
}
aside {
  width: 15vw;
  position: sticky;
  /* justify-content: center; */
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  background-color: lightgray;
  width: 70vw;
  min-height: 70vh;
}
#gallery div {
  background-color: rgb(152, 152, 152);
  box-shadow: 5px 5px 5px black;
  margin: 3%;
  padding: 1%;
}
#gallery div img {
  max-height: 100px;
  max-width: 100px;
}
footer {
  background-color: grey;
  min-height: 20vh;
}