*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
header {
  max-height: 100 px;
  background-color: grey;
}
header img {
  max-height: 10%;
  max-width: 10%;
}
main {
  display: flex;
}
aside {
  width: 10vw;
  position: sticky;
  /* justify-content: center; */
}
#gallery {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: lightgray;
  width: 80vw;
  min-height: 10vh;
}