*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
header {
  height: 15vh;
  padding-top: 1vh;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-style: oblique;
  font-size: 450%;
}
header img {
  position: absolute;
  top: 2vh;
  left: 4.5vw;
  height: 11vh;
  width: 11vh;
}
nav {
  height: fit-content;
  width: 70vw;
  /* padding-top: 3px; */
  padding-bottom: 1vh;
  justify-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  font-size: 3vh;
  font-family: 'Courier New', Courier, monospace;
  font-variant: small-caps;
}
nav a {
  text-decoration: dashed;
  font-weight: bold;
  width: fit-content;
  padding: 3px 10px 3px 10px;
  border-radius: 10px;
  color: white;
}
nav a:hover{
  color: black;
  background-color: white;
  box-shadow: 2px 2px 10px black;
}
main {
  display: flex;
  background-color: lightgrey;
  min-height: 70vh;
}
aside {
  width: 15vw;
  background-image: url('.././images/spray-pattern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#asideLeft {
  margin: 5px;
  margin-left: 0px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 0px 5px black;
  transition-delay: 4s;
  transition-duration: 2s;

}
#asideRight {
  margin: 5px;
  margin-right: 0px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: 0px 0px 5px black;
}
section {
  background-color: lightgrey;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vh;
  height: 65vh;
  background-color: white;
  border-radius: 50%;
}
section h2 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 8vh;
  margin: 3vh;
  /* margin-top: 10vh; */
}
section p {
  margin: 3vh;
  width: 70%;
  text-align: center;
}
footer {
  background-color: black;
  min-height: 15vh;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(188, 188, 188);
}
footer a {
  color: black;
  text-decoration: none;
  padding: 10px;
  background-color: #43E660;
  border-radius: 10px;
  border: 1px solid white;
  text-shadow: none;
  letter-spacing: 1px;
}
footer a:hover {
  box-shadow: 2px 2px 10px white;
}